<!--<button (click)="home()">Back to home</button>-->
<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
      <div class="card bg-dark text-white" style="border-radius: 1rem;">
        <div class="card-body p-5 text-center">

          <div class="mb-md-5 mt-md-4 pb-5">

            <div *ngIf="user">

                    <form  (ngSubmit)="changepassword(changepass)" #changepass="ngForm">
                  <div class="flex flex-wrap gap-3 mb-3 mx-auto">
                    <div class="flex flex-wrap gap-3 mb-3  mx-auto">
                    <div class="input-group flex-nowrap mt-2">
                      <span class="input-group-text" id="addon-wrapping">Old Password</span>
                      <input type="password" ngModel name="oldPassword" class="form-control form-control-lg" placeholder="Password" aria-label="Password" aria-describedby="addon-wrapping">
                    </div>

                  <div class="input-group flex-nowrap mt-2">
                    <span class="input-group-text" id="addon-wrapping">New Password</span>
                    <input input type="password" ngModel  name="newPassword" class="form-control form-control-lg" placeholder="Password" aria-label="Password" aria-describedby="addon-wrapping">
                  </div>
                  <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-5">
                    <button class="btn btn-lg btn-primary me-md-2" type="button" type="submit" [disabled]="changepass.invalid" >Submit</button>
                  </div>
                </div>
                </div>

                </form>
              </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
