.aboutText{
    font-size: 1.2em;
    /*font-weight: 300;*/
    line-height: 1.5;
    color: #110101;
    /*font-weight: bold;*/
    margin: 0 0 1.5em;
    padding: 0;
    text-align: justify;

}
.main-container {
  flex-grow: 1;
  padding-top: 100px; /* Adjust the padding value to create space below the navbar */
}
